@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --m-top: 4rem; /*  64px */
    --w-side: 18rem; /* 288px */
    --w-side-sm: 16rem; /* 256px */

    --color-primary: 2 132 199; /* bg-sky-600 */
    --color-primary-soft: 224 242 254; /* bg-sky-100 */
    --color-secondery: 241 245 249; /* bg-slate-100 */
    --color-bgbody: 249 250 251; /* bg-slate-100/60 */
  }

  .dark {
    --color-bgbody: 15 23 42;
    --color-secondery: 51 65 80;
    --color-primary-soft: 51 65 80;
  }

  html {
    font-family: inter, system-ui, sans-serif;
  }

  /* Basic */
  body {
    @apply bg-bgbody font-normal text-gray-600 dark:text-white;
  }

  /* Basic */
  input[type='text'],
  input[type='password'],
  input[type='email'],
  input[type='number'],
  input[type='url'],
  input[type='date'],
  select,
  textarea {
    @apply rounded-md px-4 py-2 text-sm font-medium !text-gray-600 placeholder:!text-gray-600 dark:!text-white/90 dark:placeholder:!text-white/90;
  }

  input[type='text'],
  input[type='password'],
  input[type='email'],
  input[type='number'],
  input[type='url'],
  input[type='date'],
  input[type='datetime-local'],
  input[type='month'],
  input[type='week'],
  input[type='time'],
  input[type='search'],
  input[type='tel'],
  input[type='checkbox'],
  input[type='radio'],
  select,
  select[multiple],
  textarea {
    @apply dark:bg-dark3 border-transparent bg-slate-100 focus:border-transparent focus:ring-black;
  }

  select,
  select[multiple] {
    @apply focus:shadow focus:!ring-transparent;
  }

  input[type='radio'],
  input[type='checkbox'] {
    @apply bg-slate-100 !text-sky-600 focus:ring-sky-600;
  }

  .switch-button {
    @apply bg-slate-200 dark:bg-slate-800;
  }
  .switch-button:before {
    @apply bg-white dark:bg-sky-600;
  }
  input:checked + .switch-button {
    @apply bg-sky-600 dark:bg-blue-300;
  }
  input:checked + .switch-button:before {
    @apply dark:bg-sky-600;
  }
}

/* ukit framework utitlites */
@layer components {
  /* switcher tabs */
  .uk-switcher > :not(.uk-active) {
    @apply hidden;
  }

  /*slider tab*/
  .uk-invisible {
    @apply !hidden;
  }

  /* tooltip */
  .uk-tooltip {
    @apply absolute top-0 z-[1050] hidden max-w-[200px] rounded-md bg-slate-800/80 px-2 py-1.5 text-[13px] font-semibold tracking-wide text-white backdrop-blur-md;
  }
  .uk-tooltip.uk-active {
    @apply block;
  }

  /* drop */
  .uk-drop {
    @apply absolute z-[1020] hidden;
  }
  .uk-drop.uk-open {
    @apply !block;
  }

  /* dropdown */
  .uk-dropdown {
    @apply dark:bg-dark2 absolute z-[1020] hidden w-52 max-w-[200px] rounded-lg border border-gray-100 bg-white p-2 shadow-lg dark:border-slate-700/40;
  }
  .uk-dropdown.uk-open {
    @apply !block;
  }
  .uk-dropdown nav {
    @apply text-sm font-medium text-slate-700 dark:text-white;
  }
  .uk-dropdown nav > a {
    @apply flex items-center gap-3 rounded-md px-2.5 py-2 hover:bg-secondery;
  }
  .uk-dropdown nav > hr {
    @apply -mx-2 my-1.5 border-gray-100 dark:border-slate-700/40;
  }

  /* dotnav */
  .uk-dotnav > * > * {
    @apply block h-2.5 w-2.5 overflow-hidden whitespace-nowrap rounded-full bg-gray-200 transition-all duration-75 ease-in-out hover:scale-[1.2] dark:bg-white/30;
  }
  .uk-dotnav > * > :hover,
  .uk-dotnav > * > :active,
  .uk-dotnav > .uk-active > * {
    @apply bg-slate-600 dark:bg-white/90;
  }

  /* Modal */
  .uk-modal {
    @apply invisible fixed bottom-0 left-0 right-0 top-0 z-[1010] overflow-y-auto !bg-white/5 opacity-0 backdrop-blur-sm transition-transform dark:bg-black/5;
  }
  .uk-modal.uk-open {
    @apply visible !flex scale-100 items-center justify-center opacity-100;
  }
  .uk-modal-dialog {
    @apply scale-75 opacity-100;
  }
  .uk-open > .uk-modal-dialog {
    @apply scale-100 opacity-100;
  }

  /* Slider */
  .uk-slider {
    @apply relative;
  }
  .uk-slider-items {
    @apply relative !m-0 flex touch-pan-y list-none !p-0 will-change-transform;
  }
  .uk-slider-items > * {
    @apply relative max-w-full flex-none;
  }
  .uk-slider-container {
    @apply overflow-hidden;
  }

  /* slideshow */
  .uk-slideshow-items {
    @apply relative z-0 !m-0 touch-pan-y list-none overflow-hidden !p-0;
  }
  .uk-slideshow-items > * {
    @apply absolute bottom-0 left-0 right-0 top-0 overflow-hidden;
  }
  .uk-slideshow-items > :not(.uk-active) {
    @apply hidden;
  }
}

@layer components {
  /*heading */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply !text-black dark:!text-white;
  }

  /* dark  */
  .bg-dark1 {
    @apply bg-slate-900;
  }
  .bg-dark2 {
    @apply bg-slate-800;
  }
  .bg-dark3 {
    @apply bg-slate-700;
  }
  .bg-dark4 {
    @apply bg-slate-600;
  }

  /* border */
  .border1 {
    @apply border border-gray-100 dark:border-gray-700/40;
  }
  .border2 {
    @apply border border-gray-200 dark:border-gray-600/40;
  }

  /* slider spacing*/
  .uk-slider-items.grid-small {
    @apply w-[calc(100%+0.3rem)]  lg:w-[calc(100%+0.5rem)];
  }
  .uk-slider-items.grid-small > * {
    @apply pr-[0.3rem] lg:pr-[0.5rem];
  }

  /* nav buttons */
  .nav-prev {
    @apply dark:bg-dark3 absolute -left-4 top-1/2 grid h-9 w-9 -translate-y-1/2 place-items-center rounded-full bg-white shadow;
  }
  .nav-next {
    @apply dark:bg-dark3 absolute -right-4 top-1/2 grid h-9 w-9 -translate-y-1/2 place-items-center rounded-full bg-white shadow;
  }

  /*sidebar nav links */
  #side {
    @apply space-y-0.5 text-[14px] font-medium capitalize tracking-wide text-black dark:text-white;
  }
  #side a {
    @apply dark:hover:bg-dark2 flex items-center  gap-4 rounded-xl p-3 px-4 hover:bg-secondery;
  }
  #side a svg {
    @apply !h-6 !w-6;
  }

  #side a.active svg,
  #side a.uk-active svg,
  #side .active a,
  #side a.uk-active {
    @apply bg-secondery text-primary dark:text-white;
  }

  #site__sidebar .simplebar-scrollbar {
    @apply w-[7px];
  }

  /* button */
  .button {
    @apply relative inline-flex cursor-pointer items-center justify-center gap-1 whitespace-nowrap rounded-md px-4 py-1.5 text-xs/5 font-medium capitalize text-black will-change-transform dark:text-white;
  }
  .button-icon {
    @apply dark:hover:bg-dark3 grid h-8 w-8 place-items-center rounded-full hover:bg-secondery;
  }

  .box {
    @apply dark:bg-dark2 rounded-lg bg-white shadow;
  }
  .side {
    @apply box rounded-xl;
  }

  /* card */
  .card {
    @apply box relative overflow-hidden;
  }
  .card-media {
    @apply relative w-full overflow-hidden;
  }
  .card-media img {
    @apply absolute inset-0 z-[1] h-full w-full object-cover;
  }
  .card-media .card-overly {
    @apply absolute z-0 h-full w-full animate-pulse bg-secondery;
  }
  .card-body {
    @apply p-2 md:p-3.5;
  }
  .card-title {
    @apply font-medium capitalize text-black md:text-base dark:!text-white;
  }
  .card-text {
    @apply mt-0.5 text-xs text-gray-500 md:text-sm dark:!text-white;
  }
  .card-body .button {
    @apply mt-2.5 w-full;
  }

  /* card list */
  .card-list {
    @apply relative flex gap-4 max-sm:flex-col md:gap-6;
  }
  .card-list-media {
    @apply relative h-full max-h-full w-full shrink-0 overflow-hidden rounded-lg shadow-sm max-md:h-36 sm:w-56;
  }
  .card-list-media img {
    @apply absolute inset-0 z-[1] h-full w-full object-cover;
  }
  .card-list-body {
    @apply flex-1;
  }
  .card-list-title {
    @apply text-lg font-medium capitalize text-black dark:!text-white;
  }
  .card-list-text {
    @apply mt-2 line-clamp-2 text-sm leading-6 text-gray-500 dark:!text-white;
  }
  .card-list-link {
    @apply mt-2  text-sm text-blue-500;
  }
  .card-list-info {
    @apply mt-2 flex items-center gap-2 text-sm text-gray-500 dark:!text-white;
  }
  .card-list-divider {
    @apply my-5 border-gray-100 dark:border-slate-700;
  }

  /* heading */
  .page-heading {
    @apply relative mb-8;
  }
  .page-heading .page-title {
    @apply text-2xl font-semibold text-black dark:text-white;
  }
  .page-heading .nav__underline {
    @apply pt-2;
  }

  .page-heading .page-nav ul li.uk-active a,
  .page-heading .page-nav ul li.active a {
    @apply border-black text-black dark:border-white dark:text-white;
  }

  .page-nav2.page-nav {
    @apply !border-transparent;
  }
  .page-nav2.page-nav ul li a {
    @apply !border-transparent;
  }
  .page-nav2.page-nav ul li.uk-active a,
  .page-nav2.page-nav ul li.active a {
    @apply after:absolute after:-bottom-1 after:left-1/2 after:h-1 after:w-1/3 after:-translate-x-1/2 after:bg-black;
  }

  /* sidebar right list */
  .side-list {
    @apply mt-5 space-y-4;
  }
  .side-list-image {
    @apply h-10 w-10 rounded-md;
  }
  .side-list-item {
    @apply flex items-center gap-3;
  }
  .side-list-title {
    @apply text-sm font-semibold text-black dark:text-white;
  }
  .side-list-info {
    @apply mt-0.5 text-xs font-normal text-gray-500 dark:text-white/80;
  }

  /* Tabs */
  .nav__underline {
    @apply border-b dark:border-slate-700;
  }
  .nav__underline ul {
    @apply -mb-px flex gap-7 overflow-x-auto text-center text-sm font-semibold capitalize text-gray-600 dark:text-white/80;
  }
  .nav__underline ul li a {
    @apply relative inline-block border-b-2 border-transparent py-[18px];
  }

  .nav__underline ul li a[aria-expanded='true'] {
    @apply border-black text-black dark:border-white dark:text-white;
  }

  /* Tabs 2*/
  .page-nav2.page-nav ul li a {
    @apply !border-transparent;
  }
  .page-nav2.page-nav ul li.active a,
  .page-nav2.page-nav ul li.uk-active a {
    @apply after:absolute after:-bottom-1 after:left-1/2 after:h-1 after:w-1/3 after:-translate-x-1/2 after:bg-black dark:after:bg-white;
  }

  /* nav sliding */
  .nav__wrap nav:has(li.first a[aria-expanded='true']) .placeholder {
    @apply left-0;
  }
  .nav__wrap nav:has(li.second a[aria-expanded='true']) .placeholder {
    @apply left-[20%];
  }
  .nav__wrap nav:has(li.third a[aria-expanded='true']) .placeholder {
    @apply left-[40%];
  }
  .nav__wrap nav:has(li.four a[aria-expanded='true']) .placeholder {
    @apply left-[60%];
  }
  .nav__wrap nav:has(li.last a[aria-expanded='true']) .placeholder {
    @apply left-full -translate-x-full;
  }

  .nav__wrap nav ul .uk-active a {
    @apply text-black dark:text-white;
  }
}

input[type='text']:focus,
input[type='password']:focus,
input[type='email']:focus,
input[type='number']:focus,
input[type='url']:focus,
input[type='date']:focus,
input[type='datetime-local']:focus,
input[type='month']:focus,
input[type='week']:focus,
input[type='time']:focus,
input[type='search']:focus,
input[type='tel']:focus,
input[type='checkbox']:focus,
input[type='radio']:focus,
select:focus,
select[multiple]:focus,
textarea:focus {
  --tw-ring-opacity: 0;
}
